#box{
    flex-grow: 1;
}

.gap{
    gap: 0.5rem;
}

.button{
    margin: 0px 0px 0px !important;
    padding: 0px;
}

.content{
    margin-top: 1rem;
}

body{
    align-items: center;
}
.square{
    position: relative;
    background: #001619;
    padding: 1rem 1.5rem 3rem 1.5rem;
    margin: 4rem 15vw;
    border:2px solid rgba(255,255,255,.2);
    box-shadow: 0px 5px rgb(0, 0, 0, .3);
}

.text-center {
    color: white;
}

h2{
    color: #118e9e;
}

label{
    color: white;
}

.Input{
    background-color: #002C32;
    color: #FFF;
}

#curriculum{
    margin: 4rem 15vw;
}

#seccion1{
    background-color: #F4F4F4;
    padding: 2rem;
}
#seccion2{
    border-right: solid 2px;
    border-color: #8C9399;
    padding: 1rem;
}
#infoPerso{
    margin-top: 2rem;
}

.headerInfo{
    background-color: #005F6C;
    color: #FFF;
    padding: 0.7rem;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    text-align: center;
    margin: 0px;
}

.headerInfo2{
    background-color: #005F6C;
    color: #FFF;
    padding: 0.5rem;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    margin: 0px;
}

.boxInfo{
    padding: 0.7rem 1rem;
    border-left: solid 1px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    font-weight: 500;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border-color: #8C9399;
    
}

.infoBox{
    margin-bottom: 2rem;
}

.infoBox2 div{
    padding: 1rem;
}

#generar{
    margin-top: 1rem;
    width: 100%;
    background-color: #005F6C;
}